
.git
.gitignore
.gitattributes
.github
.idea
.vscode
.DS_Store

docs

vendor
var

/.env
/.env.local
/.env.*.local

node_modules
assets/vendor
public/assets
public/bundles

tests
.php-cs-fixer.cache
.phpunit.result.cache
.deptrac.cache
