APP_ENV=dev
APP_SECRET=56410c1146e3e92a4936847c83622049

DATABASE_URL=sqlite:///%kernel.project_dir%/var/netpulse.sqlite

MESSENGER_TRANSPORT_DSN=sync://

PROMETHEUS_METRICS_ENABLED=true
PROMETHEUS_ALLOWED_IPS=
MEASUREMENT_FRESHNESS_WINDOW=3600
NETPULSE_VERSION=dev

NETPULSE_API_URL=
PROBE_ID=
PROBE_TOKEN=
OOKLA_BINARY=speedtest
AGENT_POLL_INTERVAL=60

REMOTE_WRITE_ENABLED=false
REMOTE_WRITE_URL=
REMOTE_WRITE_AUTH=
REMOTE_WRITE_EXTRA_LABELS=

NOTIFY_ENABLED=false
NOTIFY_CONSECUTIVE_THRESHOLD=3
NOTIFY_CHANNELS=
NOTIFY_EMAIL_TO=
MAILER_DSN=null://null
NOTIFY_CHAT_DSN=
NOTIFY_WEBHOOK_URL=

TOTP_ENCRYPTION_KEY=""

OIDC_NAME=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_AUTHORIZATION_URL=
OIDC_TOKEN_URL=
OIDC_USERINFO_URL=
OIDC_SCOPES=
OIDC_REDIRECT_URL=

NETPULSE_SITE_NAME=
NETPULSE_TIMEZONE=
SETTINGS_ENCRYPTION_KEY=""



